@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Status</h1>
    <h2>Welcome @Model.Name</h2>
    <h2>You are @Model.City</h2>
</div>
<div class="left-center">
    <h2>The application!</h2>
    <div style="margin-top:30px;">
    <form method="post">
        <div>Name: <input asp-for="Name" /></div>
        <div>Where you based: <input asp-for="City" /></div>
        <div><input type="submit" /></div>
    </form>

</div>
    <h3>Click below to start the form.</h3>
</div>
<form method="post">
    <button asp-page-handler="Register">Register Now</button>
</form>