@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Status</h1>
    <h2>Welcome @Model.Name</h2>
</div>
<div class="left-center">
    <h2>The application!</h2>
    <h3>Click below to start the form.</h3>

    
</div>